<div class="container">
  <div class="d-flex flex-column align-items-center text-center">
    <div class="my-3">
      <h1>Please check your account or password!</h1>
      <img class=".img-fluid" style="max-width: 50%; display:inline;"
        src="https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        alt="cat">
      <div class="container">
        <h1><a class="text-decoration-none" href="/login"><button class="btn btn-outline-primary btn-lg" type="submit"
              id="button-addon2">Log in</button></a></h1>
      </div>
    </div>
  </div>
</div>